<div class="container">

  <div class="row justify-content-center valign-middle" *ngIf="view.currentView == 'authorization'">
    <div class="col-12 col-md-5">
      <form (ngSubmit)="checkAuthData({username: username.value, password: password.value});
      username.value = ''; password.value = ''" #authForm="ngForm">
        <div class="form-group">
          <label for="username">Логин</label>
          <input type="text" class="form-control is-invalid" (input)="authorization.error.username = ''" [class.is-invalid]="(username.invalid && username.touched) || authorization.error.username" id="username" name="username" placeholder="Введите логин" ngModel #username="ngModel" required>
          <div class="invalid-feedback" *ngIf="username.invalid && username.touched">
            Пожалуйста, введите логин.
          </div>
          <div class="invalid-feedback" *ngIf="authorization.error.username">
            {{authorization.error.username}}
          </div>
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" class="form-control is-invalid" (input)="authorization.error.password = ''" [class.is-invalid]="(password.invalid && password.touched) || authorization.error.password" id="password" name="password" placeholder="Введите пароль" ngModel #password="ngModel" required>
          <div class="invalid-feedback" *ngIf="password.invalid && password.touched">
            Пожалуйста, введите пароль.
          </div>
          <div class="invalid-feedback" *ngIf="authorization.error.password">
            {{authorization.error.password}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">Войти</button>
        <div class="alert alert-danger margin-top-30" role="alert" *ngIf="authorization.error.statusText">
          Ошибка {{authorization.error.status}}. Ошибка авторизации
        </div>
      </form>
    </div>
  </div>    

  <div class="row justify-content-center valign-middle" *ngIf="view.currentView == 'receivingPrivateValue'">
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
    <div class="col-sm-8 col-md-6 col-lg-5">
      <button type="button" class="btn btn-success" (click)="getPrivateValue({access_token: authorization.response.access_token})">Получить приватное значение</button>
      <div class="alert alert-danger margin-top-30" role="alert" *ngIf="receivingPrivateValue.error.statusText">
          Ошибка {{receivingPrivateValue.error.status}}
      </div>
    </div>
    <div class="col-lg-8 margin-top-30">
      <h1 *ngIf="receivingPrivateValue.response">{{receivingPrivateValue.response}}</h1>
    </div>
  </div>
  
</div>